# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# environment
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
